<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springBatch.mapper.FileVoMapper">
	<insert id="saveBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
		insert into test.sys_user(name,sex,age,tel,company,email)values
		<foreach collection="fileVo" item="item" separator=",">
		(#{item.name},#{item.sex},#{item.age},#{item.tel},#{item.company},#{item.email})
		</foreach>
	</insert>

</mapper>